{% extends 'base.html' %}

{% block meta %}
<title>Create Task</title>
{% endblock meta %}

{% block content %}  

<div class = "create_task">
    <section class="vh-100">
        <div class="container py-5 h-100">
          <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form method="POST" action="">
                    {% csrf_token %}
                    <table>
                        <div class="form-outline mb-4">
                            <label>Title</label>
                            <input type="text" name="title" placeholder="Title" class="form-control">
                        </div>    
                        <div class="form-outline mb-4">
                            <label>Description</label>
                            <input type="text" name="description" placeholder="Description" class="form-control">
                        </div> 
                        
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>

                    </table>
                </form>
      
              </form>
            </div>
          </div>
        </div>
      </section>


    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}