{% extends 'base.html' %}

 {% block content %}

 <style> 
  .main-table{
    font-size: 12px;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    border-collapse: collapse;
    border-spacing: 0;
    display: grid;
    
  }
  .main-table th {
    background-color:	rgb(128, 75, 0);
    color: #000000;
    text-align: left;
    font-weight: bold;
    font-family: 'Open Sans';
    font-weight: 200;
    text-transform: uppercase;
  }

  .main-table th,
  .main-table td{
    padding: 12px 15px;
    text-align: center;
    
  }


  .main-table td {
    background-color : #FFE5B4;
    font-family : sans-serif;
  }
  .header{
    text-align: center;
    font-family : sans-serif;
  }
</style>

  <h1 class="header">Tugas 3 Assignment PBP</h1>

  <h4 class="header">Name: {{nama}}</h4>

  <h4 class="header">Student ID: {{npm}}</h4>

  <table class = "main-table">
    <tr>
      <th>Watched</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for item in item_list %}
        <tr>
            <td>{{item.watched}}</td>
            <td>{{item.title}}</td>
            <td>{{item.rating}}</td>
            <td>{{item.release_date}}</td>
            <td>{{item.review}}</td>
        </tr>
    {% endfor %}
  </table>
  {% if is_banyak_tonton %}
    <h5 class="header">Selamat, kamu sudah banyak menonton!</h5>
  {% else %}
    <h5 class="header">Wah, kamu masih sedikit menonton!</h5>
  {% endif %}

 {% endblock content %}
